// Any modification here must be done in './colors.js'

$backgroundColor: #f2f2f2;
$colorAccent: #6138D8;
$colorAccentDim: #8379D6;
$textColor: #555555;
$labelColor: #515358;
$labelBgColorFocus: #f5f5f5;
$inputBgColorFocus: #f7f7f7;
$fail: #d93025;
$pass: #3CBC8D;
$labelBgImageFocus: linear-gradient(#fff, $labelBgColorFocus);
$errorColor: #d93025;
// $errorColor: #be4b49;