// Any modification here must be done in './dimens.js'
$labelBlurTop: 10px;
$labelBlurLeft: 10px;
$labelBlurFontSize: 14px;
$labelBlurPadding: 0px;
$labelFocusTop: -8px;
$labelFocusLeft: 8px;
$labelFocusFontSize: 11px;
$labelFocusPadding: 0px 2px;